<h3>Program ID</h3>
<input type="number" [(ngModel)]="programId" />

<h3>Select Program</h3>
<select [(ngModel)]="selectedProgram">
  <option value="">--Select Program--</option>
  <option *ngFor="let prog of programs" [value]="prog">{{ prog.toUpperCase() }}</option>
</select>

<h3>Select Department</h3>
<select [(ngModel)]="selectedDepartment" [disabled]="!selectedProgram">
  <option value="">--Select Department--</option>
  <option *ngFor="let dept of departmentsMap[selectedProgram]" [value]="dept">{{ dept }}</option>
</select>

<h3>Available Seats</h3>
<input type="number" [(ngModel)]="availableSeats" min="0" />

<br /><br />

<button (click)="saveProgram()">Save</button>

<p style="color: green" *ngIf="message">{{ message }}</p>
